-# coding: utf-8
- brick = brick_full
%tr.brick_full{:id => brick.oid}
  %td.td_line_head
    %div{:style => "text-align: center;"}&= brick.oid
  %td.td_base_narrow{:style => "font-size: 80%; text-align: center;"}
    = brick.inserted_at.to_s.split(' ').join("<br />")
    %br
    &= brick.operated_by.name
  %td.td_padding_ex
    %img{:src => "/images/1x1.gif"}
  %td.td_base_narrow&= Yabitz::Model::Brick.status_title(brick.status)
  %td.td_padding_ex
    %img{:src => "/images/1x1.gif"}
  %td.td_base_narrow&= brick.hwid
  %td.td_padding_ex
    %img{:src => "/images/1x1.gif"}
  %td.td_base_narrow&= brick.productname
  %td.td_padding_ex
    %img{:src => "/images/1x1.gif"}
  %td.td_base_narrow&= brick.serial
  %td.td_padding_ex
    %img{:src => "/images/1x1.gif"}
  %td.td_base_narrow&= brick.delivered
  %td.td_padding_ex
    %img{:src => "/images/1x1.gif"}
  %td.td_base_narrow&= brick.heap
  %td.td_line_term
    %img{:src => "/images/1x1.gif"}
