-# coding: utf-8

- now = Time.now
- today = now.strftime('%Y-%m-%d')
- past = (now - 3600*24*30).strftime('%Y-%m-%d')
%div#detailbox
  %h3
    &= @content.name
  %div.fieldvalue{:style => "margin-bottom: 0.5em;"}
    - clsname = 'content_charging_' + @content.charging.downcase
    - charging_title = Yabitz::Model::Content.charging_title(@content.charging)
    %span{:class => clsname, :style => ""}&= charging_title
    %span.value
      %a{:href => "/ybz/dept/#{@content.dept.oid}"}&= @content.dept.name
  %table{:style => "width: 100%;"}
    %tr
      %td
      %td{:style => "text-align: right;"} ホスト数
      %td{:style => "text-align: right;"} 課金U
    - @content.services.sort.each do |service|
      %tr
        %td
          %a{:href => '/ybz/service/diff/' + service.oid.to_s + '?from=' + past + '&to=' + today}
            &= service.name
        %td{:style => "text-align: right;"}&= @content_charges[service.oid][:hosts]
        %td{:style => "text-align: right;"}&= roundoff(@content_charges[service.oid][:cunits], 1)
