-# coding: utf-8

%div#toolbox_spacer_top
%div#toolbox
  %h3
    &= cond
  %div{:style => "margin-left: 2em;"}
    %img{:src => "/images/1x1.gif"}
%div#toolbox_spacer_bottom
%div#maincontents
  %div.mainviewboxouter
    %div.mainviewbox
      %div.fieldvalue
        %span.field コンテンツ名:
        %span.value&= @content.name
      %div.fieldvalue
        %span.field 課金状態:
        %span.value&= @content.charging_title
      %div.fieldvalue
        %span.field コンテンツコード:
        %span.value&= @content.code
      %div.fieldvalue
        %span.field 部署:
        %span.value
          %a{:href => "/ybz/dept/#{@content.dept.oid}"}&= @content.dept.name
      %div.fieldinline 所属サービス:
      %ul.valueslist
        - @content.services.each do |srv|
          %li.valueitem
            %a{:href => "/ybz/hosts/service/#{srv.oid}"}&= srv.name
