-# coding: utf-8

%div#toolbox_spacer_top
%div#toolbox
  %h3
    &= cond
  %div{:style => "margin-left: 2em;"}
    %div.hidden#contact_oid
      %div{:class => 'contact_oid', :id => @contact.oid}= @contact.oid
    この連絡先を指定されているサービス
    %ul.valuelist
      - @contact.services.each do |srv|
        %a{:href => "/ybz/service/#{srv.oid}"}&= srv.name
%div#toolbox_spacer_bottom
%div#maincontents
  %div.mainviewboxouter
    %div.mainviewbox
      %div{:style => "float: right; font-size: 60%;"}
        %div.inline{:style => "margin-left: 1em;"}
          %a.show_editpain1{:href => '#'}
            [詳細変更]
        %div.inline{:style => "margin-left: 1em;"}
          %a.show_editpain2{:href => '#'}
            [メンバ変更]
      %div.fieldvalue
        %span.field 連絡先ラベル:
        %span.value&= @contact.label
      - unless @contact.telno_daytime.nil? or @contact.telno_daytime.empty?
        %div.fieldvalue
          %span.field Tel(日中):
          %span.value&= @contact.telno_daytime
      - unless @contact.mail_daytime.nil? or @contact.mail_daytime.empty?
        %div.fieldvalue
          %span.field Mail(日中):
          %span.value&= @contact.mail_daytime
      - unless @contact.telno_offtime.nil? or @contact.telno_offtime.empty?
        %div.fieldvalue
          %span.field Tel(休日/夜間):
          %span.value&= @contact.telno_offtime
      - unless @contact.mail_offtime.nil? or @contact.mail_offtime.empty?
        %div.fieldvalue
          %span.field Mail(休日/夜間):
          %span.value&= @contact.mail_offtime
      %div.field メモ
      %div.value
        - if @contact.memo.nil? or @contact.memo.empty?
          %div なし
        - else
          - @contact.memo.to_s.split("\n").each do |line|
            %div&= line
  %div{:style => "padding-top: 0.5em; border-bottom: 1px solid #979779;"}
    %img{:src => "/images/1x1.gif"}
  %table#contactmemberlist
    = partial :contactmember, :collection => @contact.members
%div.hidden#editpain1
  %div.mainviewboxouter
    %div.mainviewbox
      %div{:style => "float: right; font-size: 60%; clear: none;"}
        %a.show_mainview{:href => '#'}
          [表示に戻る]
      %form.mainform{:name => "contact_edit", :action => "/ybz/contact/#{@contact.oid}", :method => "POST"}
        %input{:type => "hidden", :name => "target_id", :value => @contact.id}
        %input{:type => "hidden", :name => "editstyle", :value => "fields_edit"}
        %table.inputitems{:style => "clear: both;"}
          %tr
            %td.namefield 連絡先ラベル
            %td :
            %td.inputfield
              %input.simple{:type => "text", :name => "label", :value => h(@contact.label), :size => 32}
          %tr
            %td.namefield Tel(日中)
            %td :
            %td.inputfield
              %input.simple{:type => "text", :name => "telno_daytime", :value => h(@contact.telno_daytime), :size => 16}
          %tr
            %td.namefield Mail(日中)
            %td :
            %td.inputfield
              %input.simple{:type => "text", :name => "mail_daytime", :value => h(@contact.mail_daytime), :size => 32}
          %tr
            %td.namefield Tel(休日/夜間)
            %td :
            %td.inputfield
              %input.simple{:type => "text", :name => "telno_offtime", :value => h(@contact.telno_offtime), :size => 16}
          %tr
            %td.namefield Mail(休日/夜間)
            %td :
            %td.inputfield
              %input.simple{:type => "text", :name => "mail_offtime", :value => h(@contact.mail_offtime), :size => 32}
          %tr
            %td.namefield メモ
            %td
            %td.inputfield
              %textarea.simple{:name => "memo", :cols => 48, :rows => 10}&= @contact.memo
        %div{:style => "margin: 5px; padding: 5px; text-align: center;"}
          %button.mainform_commit{:type => "submit", :onclick => "return false;"} 更新
%div.hidden#editpain2
  %div.mainviewboxouter
    %div.mainviewbox
      %div{:style => "float: right; font-size: 60%;"}
        %div.inline{:style => "margin-left: 1em;"}
          %a.show_mainview{:href => '#'}
            [表示に戻る]
      %h4 作成して追加
      %form.mainform{:name => 'contact_add_with_create', :action => "/ybz/contact/#{@contact.oid}", :method => "POST"}
        %input{:type => "hidden", :name => "target_id", :value => @contact.id}
        %input{:type => "hidden", :name => "editstyle", :value => "add_with_create"}
        %table
          %tr
            %td 名前
            %td.td_padding_narrow{:style => "border: none;"}
              %img{:src => "/images/1x1.gif"}
            %td 社員番号
            %td.td_padding_narrow{:style => "border: none;"}
              %img{:src => "/images/1x1.gif"}
            %td Tel
            %td.td_padding_narrow{:style => "border: none;"}
              %img{:src => "/images/1x1.gif"}
            %td Mail
          %tr
            %td
              %input.simple{:type => "text", :name => "name", :size => 15}
            %td.td_padding_narrow{:style => "border: none;"}
              %img{:src => "/images/1x1.gif"}
            %td
              %input.simple{:type => "text", :name => "badge", :size => 5}
            %td.td_padding_narrow{:style => "border: none;"}
              %img{:src => "/images/1x1.gif"}
            %td
              %input.simple{:type => "text", :name => "telno", :size => 15}
            %td.td_padding_narrow{:style => "border: none;"}
              %img{:src => "/images/1x1.gif"}
            %td
              %input.simple{:type => "text", :name => "mail", :size => 20}
        %button.mainform_commit{:type => "submit", :onclick => 'return false;'} 作成して登録
      %h4{:style => "margin-top: 1em;"} 検索して追加
      %form.mainform{:name => 'contact_add_with_search', :action => "/ybz/contact/#{@contact.oid}", :method => "POST"}
        %input{:type => "hidden", :name => "target_id", :value => @contact.id}
        %input{:type => "hidden", :name => "editstyle", :value => "add_with_search"}
        %div
          リストから選択して追加：
          %select{:name => "adding_contactmember"}
            %option{:value => "not_selected", :selected => true} 選択してください
            - Yabitz::Model::ContactMember.all.sort.each do |member|
              %option{:value => member.oid}&= member.name + ' (' + (member.badge || "-") + '/' + (member.position || "-") + ')'
          %button.mainform_commit{:type => "submit", :onclick => 'return false;'} 選択対象を登録
      %form.mainform{:name => 'contact_add_with_search', :action => "/ybz/contact/#{@contact.oid}", :method => "POST"}
        %input{:type => "hidden", :name => "target_id", :value => @contact.id}
        %input{:type => "hidden", :name => "editstyle", :value => "add_with_search"}
        %div
          氏名：
          %input.simple{:type => "text", :name => "name", :size => 15}
          社員番号
          %input.simple{:type => "text", :name => "badge", :size => 10}
          %button.mainform_commit{:type => "submit", :onclick => 'return false;'} 検索して登録
  %div{:style => "padding-top: 0.5em; border-bottom: 1px solid #979779;"}
    %img{:src => "/images/1x1.gif"}
  %form.mainform{:name => "contact_edit_memberlist", :action => "/ybz/contact/#{@contact.oid}", :method => "POST"}
    %table#contactmemberlist
      - incremental = 0
      - @contact.members.each do |member|
        %tr.contactmember_item
          %td.td_line_head{:style => "width: 15%; text-align: center;"}
            - incremental += 1
            %span{:style => "margin-left: 10px;"}
              = incremental
            %input.simple{:name => "order_of_#{member.oid}", :value => incremental, :size => 1, :style => "text-align: right;"}
          %td.contactmember_name
            &= member.name
            %img{:src => "/images/1x1.gif"}
          %td.td_padding
            %img{:src => "/images/1x1.gif"}
          %td.contactmember_additional
            &= ((member.badge.nil? or member.badge.empty?) ? "-" : member.badge) + "/" + ((member.position.nil? or member.position.empty?) ? "-" : member.position)
            %img{:src => "/images/1x1.gif"}
          %td.td_line_term
            %img{:src => "/images/1x1.gif"}
      %tr.contactmember_item
        %td.td_line_head
          %img{:src => "/images/1x1.gif"}
        %td.td_base{:colspan => 3}
          順序を変更したい人のボックスに新しい順序を入力してください
          %br
          空欄にした人はこのリストから除去されます
        %td.td_line_term
          %img{:src => "/images/1x1.gif"}
      %tr.contactmember_item
        %td.td_line_head
          %img{:src => "/images/1x1.gif"}
        %td.td_base{:colspan => 3}
          %input{:type => "hidden", :name => "target_id", :value => @contact.id}
          %input{:type => "hidden", :name => "editstyle", :value => "edit_memberlist"}
          %button.mainform_commit{:type => "submit", :onclick => 'return false;'} 入力した内容で更新
        %td.td_line_term
          %img{:src => "/images/1x1.gif"}
        
