-# coding: utf-8

%div#toolbox_spacer_top
%div#toolbox
  %h3 ホスト検索
  %div
    選択：
    %button#select_on_all すべて選択
    %button#select_off_all 選択をクリア
    %button#selected_hosts 選択ホストのみ表示
    %button#hosts_history 選択ホストの変更履歴
  - if @isadmin
    = haml :host_operations
  %div{:style => "padding: 0.5em;"}
    %img{:src => "/images/1x1.gif"}
  %h3 検索条件
  %div{:style => "padding: 1em;"}
    %form.mainform{:name => "host_search", :action => "/ybz/search", :method => "GET"}
      %div
        %input{:id => "andor", :type => "radio", :name => "andor", :value => 'AND', :style => 'font-size: 13px;', :checked => (andor == 'AND')}
        %label{:for => "andor_and"} AND検索
        %input{:id => "andor_or", :type => "radio", :name => "andor", :value => 'OR', :style => 'font-size: 13px;', :checked => (andor == 'OR')}
        %label{:for => "andor_or"} OR検索
      %div.cloneableline
        - if conditions.size < 1
          %div.search_item.cloneableline
            %input.cloneable_number{:type => "hidden", :name => "cond0", :value => 0}
            %table.inputitems
              %tr
                %td.namefield{:style => "text-align: left; width: 45%;"}
                  %select{:name => "field0"}
                    %option{:value => 'not_selected', :selected => true} 検索対象フィールドの選択
                    %option{:value => 'dnsname'} dns名
                    %option{:value => 'ipaddress'} IPアドレス
                    %option{:value => 'service'} サービス名
                    %option{:value => 'rackunit'} ラック位置
                    %option{:value => 'hwid'} ハードウェアID
                    %option{:value => 'hwinfo'} ハードウェア種類名
                    %option{:value => 'os'} OS
                    %option{:value => 'tag'} タグ(一致のみ)
                %td.inputfield{:style => "text-align: left; width: 45%;"}
                  %input.simple.blank_onclone{:type => "text", :name => "value0", :size => 30}
                %td{:style => "width: 10%;"}
                  %div.listclone{:style => "text-align: right;"}
                    %img.button{:src => "/images/adding.png"}
        - else
          - cnum = -1
          - conditions.each do |cfield, cvalue|
            - cnum += 1
            %div.search_item.cloneableline
              %input.cloneable_number{:type => "hidden", :name => "cond#{cnum}", :value => h(cnum)}
              %table.inputitems
                %tr
                  %td.namefield{:style => "text-align: left; width: 45%;"}
                    %select{:name => "field#{cnum}"}
                      %option{:value => 'not_selected', :selected => (cfield == 'not_selected')} 検索対象フィールドの選択
                      %option{:value => 'dnsname', :selected => (cfield == 'dnsname')} dns名
                      %option{:value => 'ipaddress', :selected => (cfield == 'ipaddress')} IPアドレス
                      %option{:value => 'service', :selected => (cfield == 'service')} サービス名
                      %option{:value => 'rackunit', :selected => (cfield == 'rackunit')} ラック位置
                      %option{:value => 'hwid', :selected => (cfield == 'hwid')} ハードウェアID
                      %option{:value => 'hwinfo', :selected => (cfield == 'hwinfo')} ハードウェア種類名
                      %option{:value => 'os', :selected => (cfield == 'os')} OS
                      %option{:value => 'tag', :selected => (cfield == 'tag')} タグ(一致のみ)
                  %td.inputfield{:style => "text-align: left; width: 45%;"}
                    %input.simple.blank_onclone{:type => "text", :name => "value#{cnum}", :size => 30, :value => h(cvalue)}
                  %td{:style => "width: 10%;"}
                    %div.listclone{:style => "text-align: right;"}
                      %img.button{:src => "/images/adding.png"}
        %div{:style => "padding-right: 3em; text-align: right;"}
          %button.mainform_commit
            %div{:style => "padding: 0.5em 3em 0.5em 3em;"} 検索
%div#toolbox_spacer_bottom
%div#maincontents
  %table#hostlist
    - if @hosts
      - if @hosts.size < 1
        %tr.host.outline.detailsearch_information
          %td.td_line_head
            %div{:style => "padding-top: 3em;"}
              %img{:src => "/images/1x1.gif"}
          %td.td_base{:colspan => 10, :style => "font-style: bold;"} 結果なし
          %td.td_line_term
            %img{:src => "/images/1x1.gif"}
      - else
        %tr.host.outline.detailsearch_information
          %td.td_line_head
            %div{:style => "padding-top: 3em;"}
              %img{:src => "/images/1x1.gif"}
          %td.td_base{:colspan => 10, :style => "font-style: bold;"} 件数: #{@hosts.size}
          %td.td_line_term
            %img{:src => "/images/1x1.gif"}
        = haml :host_list, :locals => {:host_list => @hosts}
