-# -*- coding: utf-8 -*-
%tr.host_outline.selectable.unupdatable{:id => oid}
  - rowcolor = '#ccffcc'
  %td.td_line_head{:style => "background-color: #{rowcolor}; font-weight: bold; width: 8em;"}
    OID: #{oid}
  %td.td_padding{:style => "background-color: #{rowcolor};"}
    %img{:src => "/images/1x1.gif"}
  %td.td_base{:colspan => 2, :style => "background-color: #{rowcolor};"}
    host:
    &= to.display_name
  %td.td_base{:style => "text-align: right; background-color: #{rowcolor};"}
    %a{:href => "/ybz/host/diff/#{oid}/#{to.id}/#{from.id}"} 変更
    %a{:href => "/ybz/host/history/#{oid}"} 履歴
  %td.td_line_term{:style => "background-color: #{rowcolor};"}
    %img{:src => "/images/1x1.gif"}
%tr.host_outline
  %td.td_line_head{:style => "text-align: center;"}
    更新日時
  %td.td_padding
    %img{:src => "/images/1x1.gif"}
  %td.td_base{:style => "text-align: right;"}
    &= from.inserted_at
  %td.td_padding_narrow{:style => "padding-left: 1em; padding-right: 1em;"}
    %img{:src => "/images/rightward.png", :height => 20, :width => 20}
  %td.td_base{:style => "text-align: left;"}
    &= to.inserted_at
  %td.td_line_term
    %img{:src => "/images/1x1.gif"}
%tr.host_outline
  %td.td_line_head{:style => "text-align: center;"}
    データ状態
  %td.td_padding
    %img{:src => "/images/1x1.gif"}
  %td.td_base{:style => "text-align: right;"}
    &= from.removed ? '削除済み' : '通常'
  %td.td_padding_narrow{:style => "padding-left: 1em; padding-right: 1em;"}
    %img{:src => "/images/1x1.gif"}
  - if from.removed == to.removed
    %td.td_base{:style => "text-align: left;"}
      &= to.removed ? '削除済み' : '通常'
  - else
    %td.td_base.strengthed{:style => "text-align: left;"}
      %strong
        &= to.removed ? '削除済み' : '通常'
  %td.td_line_term
    %img{:src => "/images/1x1.gif"}
%tr.host_outline
  %td.td_line_head{:style => "text-align: center;"}
    サービス
  %td.td_padding
    %img{:src => "/images/1x1.gif"}
  %td.td_base{:style => "text-align: right;"}
    &= from.service.name
  %td.td_padding_narrow{:style => "padding-left: 1em; padding-right: 1em;"}
    %img{:src => "/images/1x1.gif"}
  - if from.service.name == to.service.name
    %td.td_base{:style => "text-align: left;"}
      &= to.service.name
  - else
    %td.td_base.strengthed{:style => "text-align: left;"}
      %strong&= to.service.name
  %td.td_line_term
    %img{:src => "/images/1x1.gif"}
%tr.host_outline
  %td.td_line_head{:style => "text-align: center;"}
    状態
  %td.td_padding
    %img{:src => "/images/1x1.gif"}
  %td.td_base{:style => "text-align: right;"}
    &= Yabitz::Model::Host.status_title(from.status)
  %td.td_padding_narrow{:style => "padding-left: 1em; padding-right: 1em;"}
    %img{:src => "/images/1x1.gif"}
  - if from.status == to.status
    %td.td_base{:style => "text-align: left;"}
      &= Yabitz::Model::Host.status_title(to.status)
  - else
    %td.td_base.strengthed{:style => "text-align: left;"}
      %strong&= Yabitz::Model::Host.status_title(to.status)
  %td.td_line_term
    %img{:src => "/images/1x1.gif"}
- if from.type != to.type or from.parent_by_id != to.parent_by_id or from.children_by_id != to.children_by_id
  %tr.host_outline
    %td.td_line_head{:style => "text-align: center;"}
      タイプ/親子
    %td.td_padding
      %img{:src => "/images/1x1.gif"}
    %td.td_base{:style => "text-align: right;"}
      &= from.type
      - if from.parent
        %br
        &= from.parent.display_name
      - if from.children and not from.children.empty?
        - from.children.each do |c|
          %br
          &= c.display_name
    %td.td_padding_narrow{:style => "padding-left: 1em; padding-right: 1em;"}
      %img{:src => "/images/1x1.gif"}
    %td.td_base.strengthed{:style => "text-align: left;"}
      - if from.type == to.type
        &= to.type
      - else
        %strong&= to.type
      - if to.parent
        %br
        - if from.parent and from.parent.display_name == to.parent.display_name
          &= to.parent.display_name
        - else
          %strong&= to.parent.display_name
      - if to.children and not to.children.empty?
        - if from.children_by_id == to.children_by_id
          - to.children.each do |c|
            %br
            &= c.display_name
        - else
          - to.children.each do |c|
            %br
            %strong&= c.display_name
    %td.td_line_term
      %img{:src => "/images/1x1.gif"}
%tr.host_outline
  %td.td_line_head{:style => "text-align: center;"}
    ラック位置
  %td.td_padding
    %img{:src => "/images/1x1.gif"}
  %td.td_base{:style => "text-align: right;"}
    &= from.rackunit.to_s
    %img{:src => "/images/1x1.gif"}
  %td.td_padding_narrow{:style => "padding-left: 1em; padding-right: 1em;"}
    %img{:src => "/images/1x1.gif"}
  - if from.rackunit.to_s == to.rackunit.to_s
    %td.td_base{:style => "text-align: left;"}
      &= to.rackunit.to_s
  - else
    %td.td_base.strengthed{:style => "text-align: left;"}
      %strong&= to.rackunit.to_s
  %td.td_line_term
    %img{:src => "/images/1x1.gif"}
- if from.hwid != to.hwid
  %tr.host_outline
    %td.td_line_head{:style => "text-align: center;"}
      HWID
    %td.td_padding
      %img{:src => "/images/1x1.gif"}
    %td.td_base{:style => "text-align: right;"}
      &= from.hwid
      %img{:src => "/images/1x1.gif"}
    %td.td_padding_narrow{:style => "padding-left: 1em; padding-right: 1em;"}
      %img{:src => "/images/1x1.gif"}
    %td.td_base.strengthed{:style => "text-align: left;"}
      %strong&= to.hwid
    %td.td_line_term
      %img{:src => "/images/1x1.gif"}
- if from.hwinfo_by_id != to.hwinfo_by_id
  %tr.host_outline
    %td.td_line_head{:style => "text-align: center;"}
      ハードウェア
    %td.td_padding
      %img{:src => "/images/1x1.gif"}
    %td.td_base{:style => "text-align: right;"}
      &= from.hwinfo ? from.hwinfo.name : ""
      %img{:src => "/images/1x1.gif"}
    %td.td_padding_narrow{:style => "padding-left: 1em; padding-right: 1em;"}
      %img{:src => "/images/1x1.gif"}
    %td.td_base.strengthed{:style => "text-align: left;"}
      %strong&= to.hwinfo ? to.hwinfo.name : ""
    %td.td_line_term
      %img{:src => "/images/1x1.gif"}
- if from.cpu != to.cpu
  %tr.host_outline
    %td.td_line_head{:style => "text-align: center;"}
      CPU
    %td.td_padding
      %img{:src => "/images/1x1.gif"}
    %td.td_base{:style => "text-align: right;"}
      &= from.cpu
      %img{:src => "/images/1x1.gif"}
    %td.td_padding_narrow{:style => "padding-left: 1em; padding-right: 1em;"}
      %img{:src => "/images/1x1.gif"}
    %td.td_base.strengthed{:style => "text-align: left;"}
      %strong&= to.cpu
    %td.td_line_term
      %img{:src => "/images/1x1.gif"}
- if from.memory != to.memory
  %tr.host_outline
    %td.td_line_head{:style => "text-align: center;"}
      メモリ
    %td.td_padding
      %img{:src => "/images/1x1.gif"}
    %td.td_base{:style => "text-align: right;"}
      &= from.memory
      %img{:src => "/images/1x1.gif"}
    %td.td_padding_narrow{:style => "padding-left: 1em; padding-right: 1em;"}
      %img{:src => "/images/1x1.gif"}
    %td.td_base.strengthed{:style => "text-align: left;"}
      %strong&= to.memory
    %td.td_line_term
      %img{:src => "/images/1x1.gif"}
- if from.disk != to.disk
  %tr.host_outline
    %td.td_line_head{:style => "text-align: center;"}
      ディスク
    %td.td_padding
      %img{:src => "/images/1x1.gif"}
    %td.td_base{:style => "text-align: right;"}
      &= from.disk
      %img{:src => "/images/1x1.gif"}
    %td.td_padding_narrow{:style => "padding-left: 1em; padding-right: 1em;"}
      %img{:src => "/images/1x1.gif"}
    %td.td_base.strengthed{:style => "text-align: left;"}
      %strong&= to.disk
    %td.td_line_term
      %img{:src => "/images/1x1.gif"}
- if from.os != to.os
  %tr.host_outline
    %td.td_line_head{:style => "text-align: center;"}
      OS
    %td.td_padding
      %img{:src => "/images/1x1.gif"}
    %td.td_base{:style => "text-align: right;"}
      &= from.os
      %img{:src => "/images/1x1.gif"}
    %td.td_padding_narrow{:style => "padding-left: 1em; padding-right: 1em;"}
      %img{:src => "/images/1x1.gif"}
    %td.td_base.strengthed{:style => "text-align: left;"}
      %strong&= to.os
    %td.td_line_term
      %img{:src => "/images/1x1.gif"}
%tr.host_outline
  %td.td_line_head{:style => "text-align: center;"}
    DNS
  %td.td_padding
    %img{:src => "/images/1x1.gif"}
  %td.td_base{:style => "text-align: right;"}
    = from.dnsnames.map{|n| h(n.dnsname)}.join('<br />')
    %img{:src => "/images/1x1.gif"}
  %td.td_padding_narrow{:style => "padding-left: 1em; padding-right: 1em;"}
    %img{:src => "/images/1x1.gif"}
  - if from.dnsnames_by_id == to.dnsnames_by_id
    %td.td_base{:style => "text-align: left;"}
      = to.dnsnames.map{|n| h(n.dnsname)}.join('<br />')
  - else
    %td.td_base.strengthed{:style => "text-align: left;"}
      = to.dnsnames.map{|n| from.dnsnames_by_id.include?(n.oid) ? h(n.dnsname) : "<strong>#{h(n.dnsname)}</strong>"}.join('<br />')
  %td.td_line_term
    %img{:src => "/images/1x1.gif"}
%tr.host_outline
  %td.td_line_head{:style => "text-align: center;"}
    Local IP
  %td.td_padding
    %img{:src => "/images/1x1.gif"}
  %td.td_base{:style => "text-align: right;"}
    = from.localips.map{|i| h(i.address)}.join('<br />')
    %img{:src => "/images/1x1.gif"}
  %td.td_padding_narrow{:style => "padding-left: 1em; padding-right: 1em;"}
    %img{:src => "/images/1x1.gif"}
  - if from.localips_by_id == to.localips_by_id
    %td.td_base{:style => "text-align: left;"}
      = to.localips.map{|i| h(i.address)}.join('<br />')
  - else
    %td.td_base.strengthed{:style => "text-align: left;"}
      = to.localips.map{|i| from.localips_by_id.include?(i.oid) ? h(i.address) : "<strong>#{h(i.address)}</strong>"}.join('<br />')
  %td.td_line_term
    %img{:src => "/images/1x1.gif"}
- if from.globalips_by_id != to.globalips_by_id
  %tr.host_outline
    %td.td_line_head{:style => "text-align: center;"}
      Global IP
    %td.td_padding
      %img{:src => "/images/1x1.gif"}
    %td.td_base{:style => "text-align: right;"}
      = from.globalips.map{|g| h(g.address)}.join('<br />')
      %img{:src => "/images/1x1.gif"}
    %td.td_padding_narrow{:style => "padding-left: 1em; padding-right: 1em;"}
      %img{:src => "/images/1x1.gif"}
    %td.td_base.strengthed{:style => "text-align: left;"}
      = to.globalips.map{|g| from.globalips_by_id.include?(g.oid) ? h(g.address) : "<strong>#{h(g.address)}</strong>"}.join('<br />')
      %img{:src => "/images/1x1.gif"}
    %td.td_line_term
      %img{:src => "/images/1x1.gif"}
- if from.virtualips_by_id != to.virtualips_by_id
  %tr.host_outline
    %td.td_line_head{:style => "text-align: center;"}
      Virtual IP
    %td.td_padding
      %img{:src => "/images/1x1.gif"}
    %td.td_base{:style => "text-align: right;"}
      = from.virtualips.map{|v| h(v.address)}.join('<br />')
      %img{:src => "/images/1x1.gif"}
    %td.td_padding_narrow{:style => "padding-left: 1em; padding-right: 1em;"}
      %img{:src => "/images/1x1.gif"}
    %td.td_base.strengthed{:style => "text-align: left;"}
      = to.virtualips.map{|v| from.virtualips_by_id.include?(v.oid) ? h(v.address) : "<strong>#{h(v.address)}</strong>"}.join('<br />')
      %img{:src => "/images/1x1.gif"}
    %td.td_line_term
      %img{:src => "/images/1x1.gif"}
- if from.notes != to.notes
  %tr.host_outline
    %td.td_line_head{:style => "text-align: center;"}
      メモ
    %td.td_padding
      %img{:src => "/images/1x1.gif"}
    %td.td_base{:style => "text-align: right;"}
      = from.notes ? from.notes.split("\n").map{|n| h(n)}.join('<br />') : ""
      %img{:src => "/images/1x1.gif"}
    %td.td_padding_narrow{:style => "padding-left: 1em; padding-right: 1em;"}
      %img{:src => "/images/1x1.gif"}
    %td.td_base.strengthed{:style => "text-align: left;"}
      %strong= to.notes ? to.notes.split("\n").map{|n| h(n)}.join('<br />') : ""
    %td.td_line_term
      %img{:src => "/images/1x1.gif"}
- if from.tagchain_by_id != to.tagchain_by_id or (from.tagchain and to.tagchain and from.tagchain.tagchain != to.tagchain.tagchain)
  %tr.host_outline
    %td.td_line_head{:style => "text-align: center;"}
      タグ
    %td.td_padding
      %img{:src => "/images/1x1.gif"}
    %td.td_base{:style => "text-align: right;"}
      = from.tagchain.tagchain.map{|t| h(t)}.join('<br />')
      %img{:src => "/images/1x1.gif"}
    %td.td_padding_narrow{:style => "padding-left: 1em; padding-right: 1em;"}
      %img{:src => "/images/1x1.gif"}
    %td.td_base.strengthed{:style => "text-align: left;"}
      = to.tagchain.tagchain.map{|t| from.tagchain.tagchain.include?(t) ? h(t) : "<strong>#{h(t)}</strong>"}.join('<br />')
      %img{:src => "/images/1x1.gif"}
    %td.td_line_term
      %img{:src => "/images/1x1.gif"}
