-# coding: utf-8
- host = host_full
%tr.host_full{:id => host.oid}
  %td.td_line_head
    %div{:style => "text-align: center;"}&= host.oid
  %td.host_selector{:style => "margin: 2px; padding: 0px; font-size: 20px;"}
    %input{:type => "radio", :name => 'before', :value => host.id}
  %td.host_selector{:style => "margin: 2px; padding: 0px; font-size: 20px;"}
    %input{:type => "radio", :name => 'after', :value => host.id}
  %td.td_base_narrow{:style => "font-size: 80%; text-align: center;"}
    = host.inserted_at.to_s.split(' ').join("<br />")
    %br
    &= host.operated_by.name
  %td.td_padding_ex
    %img{:src => "/images/1x1.gif"}
  %td.td_base_narrow
    &= Yabitz::Model::Host.status_title(host.status)
    %br
    &= host.service.name
  %td.td_padding_ex
    %img{:src => "/images/1x1.gif"}
  %td.td_base_narrow
    &= host.hwid
    %br
    &= host.rackunit.to_s
  %td.td_padding_ex
    %img{:src => "/images/1x1.gif"}
  %td.td_base_narrow
    &= (host.os.nil? or host.os.empty?) ? "-" : host.os
    %br
    &= (host.cpu.nil? or host.cpu.empty?) ? "-" : host.cpu
    %br
    &= (host.memory.nil? or host.memory.empty?) ? "-" : host.memory
    %br
    &= (host.disk.nil? or host.disk.empty?) ? "-" : host.disk
  %td.td_padding_ex
    %img{:src => "/images/1x1.gif"}
  %td.td_base_narrow
    %table
      %tr
        %td{:style => "font-size: 80%; text-align: center;"}&= host.type
      - if host.parent
        %tr
          %td{:style => "font-size: 80%; text-align: center;"}&= host.parent.display_name
      - unless host.children.empty?
        - host.children.each do |c|
          %tr
            %td{:style => "font-size: 80%; text-align: center;"}&= c.display_name
  %td.td_padding_ex
    %img{:src => "/images/1x1.gif"}
  %td.td_base_narrow
    %table
      - host.dnsnames.each do |dns|
        %tr
          %td{:style => "font-size: 80%;"}&= dns.dnsname
  %td.td_padding_ex
    %img{:src => "/images/1x1.gif"}
  - ips = host.localips.map{|i| i.address} + host.globalips.map{|i| '(g)' + i.address} + host.virtualips.map{|i| '(v)' + i.address}
  %td.td_base_narrow
    %table
      - ips.each do |ip|
        %tr
          %td{:style => "font-size: 80%;"}&= ip
  %td.td_line_term
    %img{:src => "/images/1x1.gif"}
