-# coding: utf-8

%div#detailbox
  %form.identity
    %input{:type => "hidden", :name => "oid", :value => @host.oid}
    %input{:type => "hidden", :name => "type", :value => "host"}
  %h3
    ホスト情報
    %div{:style => "float: right; text-align: right; vertical-align: bottom; font-size: 50%;"}
      - Yabitz::Plugin.get(:hostlinkparts).each do |plugin|
        - if plugin.host_parts_displayed?(@host, @isadmin)
          = haml plugin.host_parts, :layout => false
  %div.fieldvalue{:style => "margin-bottom: 0.5em;"}
    - clsname = 'status_' + @host.status.downcase
    - status_title = Yabitz::Model::Host.status_title(@host.status)
    %span{:class => clsname}&= status_title
    %span.value
      %a{:href => "/ybz/service/#{@host.service_by_id}"}&= @host.service
      - if @host.service.contact_by_id
        %span{:style => "font-size: 60%;"}
          %a{:href => "/ybz/contact/#{@host.service.contact_by_id}"} [連絡先]
  = field_editable 'host', @host, :simpleselector, :type, "タイプ", @host.type, "未指定", :values => Yabitz::HostType.names, :labels => Yabitz::HostType.names
  - if @host.parent_by_id
    %div.fieldvalue
      %span.field ハイパーバイザ:
      %span.value 
        %a{:href => "/ybz/host/#{@host.parent.oid}"}&= @host.parent.display_name
    %div.field 同居ホスト
    - if @host.parent.children.size == 1 and @host.parent.children.first.oid == @host.oid
      %div.value なし
    - else
      %ul.valueslist
        - @host.parent.children.each do |c|
          - next if c.oid == @host.oid
          %li.valueitem
            %a{:href => "/ybz/host/#{c.oid}"}&= c.display_name
  - if @host.children_by_id and @host.children_by_id.size > 0
    %div.field ゲスト:
    %ul.valueslist
      - @host.children.each do |c|
        %li.valueitem
          %a{:href => "/ybz/host/#{c.oid}"}&= c.display_name
  = field_editable 'host', @host, :text, :rackunit, "ラック位置", @host.rackunit.to_s, "未割当", :link => (@host.rackunit ? "/ybz/rackunit/#{@host.rackunit.oid}" : nil)
  = field_editable 'host', @host, :text, :hwid, "HWID", @host.hwid, "未割当", :link => "/ybz/smartsearch?keywords=" + h(@host.hwid)
  = field_editable 'host', @host, :selector, :hwinfo, "ハードウェア情報", (@host.hwinfo ? @host.hwinfo.oid.to_s : ""), "未指定", :display_value => @host.hwinfo.to_s, :opt_class => Yabitz::Model::HwInformation, :opt_value => :oid, :opt_label => :name
  = field_editable 'host', @host, :text, :memory, "メモリ", @host.memory, "未記入"
  = field_editable 'host', @host, :text, :disk, "ディスク", @host.disk, "未記入"
  = field_editable 'host', @host, :combobox, :os, "OS", @host.os, "未指定", :opt_class => Yabitz::Model::OSInformation, :opt_value => :name
  - [['DNSホスト名', 'dnsnames'], ['Local IP', 'localips'], ['Global IP', 'globalips'], ['Virtual IP', 'virtualips']].each do |pair|
    - if @isadmin
      %form.inline.field_edit_form{:name => "editAdmin", :action => "/ybz/host/#{@host.oid}", :method => 'POST', :onsubmit => 'return false;'}
        %div.hidden
          %input{:type => "text", :name => "dummy", :value => ""}
        %input{:type => "hidden", :name => "field", :value => pair.last}
        %input{:type => "hidden", :name => "target_id", :value => @host.id}
        %input{:type => "hidden", :name => "operation", :value => "edit"}
        %div.field
          &= pair.first
          %img.button.itemadd{:src => "/images/adding.png", :alt => "+"}
        %ul.valueslist
          - vnum = 0
          - values = @host.send(pair.last)
          - values.each do |v|
            - vnum += 1
            %li.valueitem.clickableitem
              %div.dataview.clickablelabel{:title => h(v.to_s)}&= v.to_s
              %div.dataedit
                %input{:type => "text", :name => "value#{vnum}", :value => h(v.to_s)}
              %div.dataupdown
                - if vnum > 1
                  %img.button.orderedit{:id => vnum, :name => 'up', :src => "/images/upward.png", :alt => "up"}
                - if vnum < values.size
                  %img.button.orderedit{:id => vnum, :name => 'down', :src => "/images/downward.png", :alt => "down"}
          %li.valueitem.addinput
            %div.dataedit
              %input{:type => "text", :name => "value_new"}
    - else
      %div.field&= pair.first
      %ul.valueslist
        - @host.send(pair.last).each do |v|
          %li.valueitem&= v
  - if @user
    %form.inline.field_edit_form{:name => "hostfieldedit", :action => "/ybz/host/#{@host.oid}", :method => "POST", :onsubmit => "return false;"}
      %div.hidden
        %input{:type => "text", :name => "dummy", :value => ""}
      %input{:type => "hidden", :name => "field", :value => "tagchain"}
      %input{:type => "hidden", :name => "maptype", :value => "list"}
      %input{:type => "hidden", :name => "target_id", :value => @host.id}
      %input{:type => "hidden", :name => "operation", :value => "edit"}
      %div.field
        タグ
        %img.button.itemadd{:src => "/images/adding.png", :alt => "+"}
      %ul.valueslist
        - vnum = 0
        - values = @host.tagchain.tagchain
        - values.each do |v|
          - vnum += 1
          %li.valueitem.clickableitem
            %div.dataview{:title => h(v)}
              = anchored_tag(v, @host)
              %div.dataeditbutton
                %img.button.clickablebutton{:src => "/images/edit.png", :alt => "edit"}
            %div.dataedit
              %input{:type => "text", :name => "value#{vnum}", :value => h(v)}
        %li.valueitem.addinput
          %div.dataedit
            %input{:type => "text", :name => "value_new"}
  - else
    %div.field タグ
    %ul.valueslist
      - @host.tagchain.tagchain.each do |v|
        %li.valueitem= anchored_tag(v, @host)
  - if @user
    %form.inline.field_edit_form{:name => "hostfieldedit", :action => "/ybz/host/#{@host.oid}", :method => "POST", :onsubmit => "return false;"}
      %div.fieldvalue.memoitem
        %div.hidden
          %textarea.valueholder&= @host.notes
        %input{:type => "hidden", :name => "field", :value => "notes"}
        %input{:type => "hidden", :name => "target_id", :value => @host.id}
        %input{:type => "hidden", :name => "operation", :value => "edit"}
        %div.field
          メモ:
          %div.inline.memoeditbutton{:style => "margin-left: 1em;"}
            %img.button.clickablebutton{:src => "/images/edit.png", :alt => "edit"}
        - if @host.notes.nil? or @host.notes.empty?
          %div.dataview{:style => "margin-left: 1em;"}
            なし
        - else
          %div.dataview
            - @host.notes.split("\n").each do |note|
              %div
                &= note
        %div.dataedit.memoarea
          %textarea{:rows => 15, :cols => 28, :name => "value"}&= @host.notes
          %input{:type => "submit", :name => "memoupdate", :value => "更新"}
          %input{:type => "reset", :name => "memocancel", :value => "取消"}
  - else
    %div.field メモ:
    %div.value
      - if @host.notes.nil? or @host.notes.empty?
        なし
      - else
        - @host.notes.split("\n").each do |note|
          %div
            &= note
