-# coding: utf-8
%div
  選択したホストへの操作: 
  %select.admin_operations#host_operation_list
    %option{:value => 'nonedefault'} 操作を選択してください
    %option{:value => 'none', :disabled => true} -- 状態の変更 --
    %option{:value => 'status_in_service'} #{Yabitz::Model::Host.status_title(Yabitz::Model::Host::STATUS_IN_SERVICE)} に変更
    %option{:value => 'status_under_dev' } #{Yabitz::Model::Host.status_title(Yabitz::Model::Host::STATUS_UNDER_DEV)} に変更
    %option{:value => 'status_suspended' } #{Yabitz::Model::Host.status_title(Yabitz::Model::Host::STATUS_SUSPENDED)} に変更
    %option{:value => 'status_standby'   } #{Yabitz::Model::Host.status_title(Yabitz::Model::Host::STATUS_STANDBY)} に変更
    %option{:value => 'status_removing'  } #{Yabitz::Model::Host.status_title(Yabitz::Model::Host::STATUS_REMOVING)} に変更
    %option{:value => 'status_removed'   } #{Yabitz::Model::Host.status_title(Yabitz::Model::Host::STATUS_REMOVED)} に変更
    %option{:value => 'status_no_count'  } #{Yabitz::Model::Host.status_title(Yabitz::Model::Host::STATUS_NO_COUNT)} に変更
    %option{:value => 'status_missing'   } #{Yabitz::Model::Host.status_title(Yabitz::Model::Host::STATUS_MISSING)} に変更
    %option{:value => 'status_other'     } #{Yabitz::Model::Host.status_title(Yabitz::Model::Host::STATUS_OTHER)} に変更
    %option{:value => 'none', :disabled => true} -- サービスの変更 --
    %option{:value => 'change_service'} 選択したホストを他のサービスに移動
    %option{:value => 'none', :disabled => true} -- データの編集 --
    %option{:value => 'add_tag'   } 選択したホストに一括でタグを付与
    %option{:value => 'tie_hypervisor'} 選択したホストを親子関係に設定
    %option{:value => 'change_dns'} 選択したホストのdns名を一括変更
    %option{:value => 'none', :disabled => true} -- データ削除 --
    %option{:value => 'delete_records'} 選択したホストのデータを消去
