-# coding: utf-8

%div#detailbox
  %form.identity
    %input{:type => "hidden", :name => "oid", :value => @ip.quoted_address}
    %input{:type => "hidden", :name => "type", :value => "ipaddress"}
  %h3 IPアドレス
  %div.fieldvalue
    %span.field アドレス:
    %span.value&= @ip.address
  %div.fieldvalue
    %span.field バージョン:
    %span.value&= @ip.version
  %div.field 使用ホスト
  %ul.valueslist
    - if @ip.hosts.size > 0
      - @ip.hosts.each do |h|
        %li.valueitem
          %a{:href => "/ybz/host/#{h.oid}"}&= h.display_name
    - else
      %li.valueitem なし
  %div.fieldvalue
    %span.field 状態:
    %span.value
      - if @ip.holder?
        予約済(使用禁止)
      - else
        - if @ip.hosts.size > 0
          非予約(使用中)
        - else
          非予約(使用可能)
      - if @isadmin
        %form.inline.toggle_form{:name => "toggleValid", :method => "POST", :action => "/ybz/ipaddress/#{@ip.quoted_address}"}
          %input{:type => "hidden", :name => "field", :value => "holder"}
          - if @ip.id
            %input{:type => "hidden", :name => "target_id", :value => @ip.id}
          %input{:type => "hidden", :name => "operation", :value => "toggle"}
          %input.togglebutton{:type => "image", :src => "/images/check.png", :onclick => 'return false;', :height => 20, :width => 20, :alt => "+/-"}
  - if @isadmin
    %form.inline.field_edit_form{:name => "fieldedit", :action => "/ybz/ipaddress/#{@ip.quoted_address}", :method => "POST", :onsubmit => "return false;"}
      %div.fieldvalue.memoitem
        %div.hidden
          %textarea.valueholder&= @ip.notes
        %input{:type => "hidden", :name => "field", :value => "notes"}
        - if @ip.id
          %input{:type => "hidden", :name => "target_id", :value => @ip.id}
        %input{:type => "hidden", :name => "operation", :value => "edit"}
        %div.field
          メモ:
          %div.inline.memoeditbutton{:style => "margin-left: 1em;"}
            %img.button.clickablebutton{:src => "/images/edit.png", :alt => "edit"}
        - if @ip.notes.nil? or @ip.notes.empty?
          %div.dataview{:style => "margin-left: 1em;"}
            なし
        - else
          %div.dataview
            - @ip.notes.split("\n").each do |note|
              %div
                &= note
        %div.dataedit.memoarea
          %textarea{:rows => 15, :cols => 28, :name => "value"}&= @ip.notes
          %input{:type => "submit", :name => "memoupdate", :value => "更新"}
          %input{:type => "reset", :name => "memocancel", :value => "取消"}
  - else
    %div.field メモ:
    %div.value
      - if @ip.notes.nil? or @ip.notes.empty?
        なし
      - else
        - @ip.notes.split("\n").each do |note|
          %div
            &= note
