-# coding: utf-8

%div#detailbox
  %form.identity
    %input{:type => "hidden", :name => "oid", :value => @ipseg.oid}
    %input{:type => "hidden", :name => "type", :value => "ipsegment"}
  %h3 IPセグメント
  %div.fieldvalue
    %span.field アドレス:
    %span.value&= @ipseg.address
  %div.fieldvalue
    %span.field ネットマスク:
    %span.value&= @ipseg.netmask
  %div.fieldvalue
    %span.field バージョン:
    %span.value&= @ipseg.version
  %div.fieldvalue
    %span.field 種別:
    %span.value&= @ipseg.area
  %div.fieldvalue
    %span.field 状態:
    %span.value
      - if @ipseg.ongoing?
        使用中
      - else
        不使用
      - if @isadmin
        %form.inline.toggle_form{:name => "toggleValid", :method => "POST", :action => "/ybz/ipsegment/#{@ipseg.oid}"}
          %input{:type => "hidden", :name => "field", :value => "ongoing"}
          %input{:type => "hidden", :name => "target_id", :value => @ipseg.id}
          %input{:type => "hidden", :name => "operation", :value => "toggle"}
          %input.togglebutton{:type => "image", :src => "/images/check.png", :onclick => 'return false;', :height => 20, :width => 20, :alt => "+/-"}
  - if @isadmin
    %form.inline.field_edit_form{:name => "fieldedit", :action => "/ybz/ipsegment/#{@ipseg.oid}", :method => "POST", :onsubmit => "return false;"}
      %div.fieldvalue.memoitem
        %div.hidden
          %textarea.valueholder&= @ipseg.notes
        %input{:type => "hidden", :name => "field", :value => "notes"}
        %input{:type => "hidden", :name => "target_id", :value => @ipseg.id}
        %input{:type => "hidden", :name => "operation", :value => "edit"}
        %div.field
          メモ:
          %div.inline.memoeditbutton{:style => "margin-left: 1em;"}
            %img.button.clickablebutton{:src => "/images/edit.png", :alt => "edit"}
        - if @ipseg.notes.nil? or @ipseg.notes.empty?
          %div.dataview{:style => "margin-left: 1em;"}
            なし
        - else
          %div.dataview
            - @ipseg.notes.split("\n").each do |note|
              %div
                &= note
        %div.dataedit.memoarea
          %textarea{:rows => 15, :cols => 28, :name => "value"}&= @ipseg.notes
          %input{:type => "submit", :name => "memoupdate", :value => "更新"}
          %input{:type => "reset", :name => "memocancel", :value => "取消"}
  - else
    %div.field メモ:
    %div.value
      - if @ipseg.notes.nil? or @ipseg.notes.empty?
        なし
      - else
        - @ipseg.notes.split("\n").each do |note|
          %div
            &= note
