-# coding: utf-8
%div#appheader
  %a{:href => "/ybz/"}
    %div#appheaderlogo 
  %div
    %ul{:id => "nav", :style => "float: right;"}
      - if @user
        %li&= @user.fullname + (@isadmin ? "(ADMIN)" : "")
        %li
          %a{:href => "/ybz/authenticate/logout"} ログアウト
      - else
        %li
          %a{:href => "/ybz/authenticate/login"} ログイン
      %li
        %a{:href => "/ybz/services"} サービス一覧
      %li
        %a{:href => "#"}
          ホスト
        %ul
          - if @isadmin
            %li
              %a{:href => "/ybz/host/create"} ホスト登録
          %li
            %a{:href => "/ybz/hosts/status/under_dev"} 準備中
          %li
            %a{:href => "/ybz/hosts/status/no_count"} 非課金
          %li
            %a{:href => "/ybz/hosts/status/suspended"} 停止
          %li
            %a{:href => "/ybz/hosts/status/standby"} 待機
          %li
            %a{:href => "/ybz/hosts/status/removing"} 撤去依頼済
          %li
            %a{:href => "/ybz/hosts/status/removed"} 撤去完了
          %li
            %a{:href => "/ybz/hosts/status/missing"} 管理対象外
          %li
            %a{:href => "/ybz/hosts/status/other"} 不明
      %li
        %a{:href => "#"}
          機器
        %ul
          - if @isadmin
            %li
              %a{:href => "/ybz/brick/create"} 機器登録
          %li
            %a{:href => "/ybz/bricks/list/stock"} 在庫
          %li
            %a{:href => "/ybz/bricks/list/repair"} 修理中
          %li
            %a{:href => "/ybz/bricks/list/broken"} 故障
          %li
            %a{:href => "/ybz/bricks/list/in_use"} 使用中
          %li
            %a{:href => "/ybz/bricks/list/all"} 全て
      %li
        %a{:href => "#"}
          各種リスト
        %ul
          %li
            %a{:href => "/ybz/operations"} 操作タグ
          %li
            %a{:href => "/ybz/contact/list"} 連絡先
          %li
            %a{:href => "/ybz/contactmember/list"} 連絡先メンバ
          %li
            %a{:href => "/ybz/hwinfo/list"} HW情報
          %li
            %a{:href => "/ybz/osinfo/list"} OS情報
          %li
            %a{:href => "/ybz/ipsegment/list/local"} Local NW
          %li
            %a{:href => "/ybz/ipsegment/list/global"} Global NW
          %li
            %a{:href => "/ybz/rack/list"} ラック
          %li
            %a{:href => "/ybz/rack/blanklist"} 空きラック
          %li
            %a{:href => "/ybz/content/list"} コンテンツ
          %li
            %a{:href => "/ybz/dept/list"} 部署
      %li
        %a{:href => "#"}
          管理項目
        %ul
          %li
            %a{:href => "/ybz/charge/summary"} 課金情報
          %li
            %a{:href => "/ybz/machines/hardware"} 筐体別使用状況
          %li
            %a{:href => "/ybz/machines/os"} OS別使用状況
          %li
            %a{:href => "/ybz/checker"} チェッカ
          %li
            %a{:href => "/ybz/auth_info/list"} ユーザリスト
  %div{:style => "float: right; clear: right; padding-top: 7px;"}
    - t_now = Time.now
    %span#datetime #{t_now.year}年#{t_now.mon}月#{t_now.day}日 #{sprintf("%02d",t_now.hour)}:#{sprintf("%02d",t_now.min)}
  %div#searchbox
    %form.inline{:id => "smartsearch", :action => "/ybz/smartsearch"}
      %div#searchboxwrap
        %div.hidden
          %input{:type => "text", :name => "dummy", :value => ""}
        %table
          %tbody
            %tr
              %td{:style => "width: 1px;"}
                %div#searchicon
              %td
                %input{:onfocus => "this.select();", :type => "text", :id => "searchinput", :name => "keywords"}
      %div#searchlinkwrap
        %a{:href => "/ybz/search"} 詳細なホスト検索
%div{:id => "break", :style => "clear: both; padding-bottom: 1em;"}
