-# coding: utf-8

%div#toolbox_spacer_top
%div#toolbox
  %p
    表示：
    &= @page_title
%div#toolbox_spacer_bottom
%div#maincontents
  %table#machinesummary
    %tr.machine_item
      %td.td_line_head
        %div{:style => "padding-top: 3em; padding-left: 0; padding-right: 0;"}
      %td.machine_name{:style => 'font-weight: bold;'} HW名
      %td.td_padding
        %img{:src => "/images/1x1.gif"}
      %td.machine_size{:style => 'font-weight: bold;'} サイズ
      %td.td_padding
        %img{:src => "/images/1x1.gif"}
      %td.machine_hosts{:style => 'font-weight: bold;'} 台数
      %td.td_padding
        %img{:src => "/images/1x1.gif"}
      %td.machine_units{:style => 'font-weight: bold;'} 合計U数
      %td.td_padding
        %img{:src => "/images/1x1.gif"}
      %td.td_line_term
        %img{:src => "/images/1x1.gif"}
    - @hws.each do |hwinfo|
      %tr.machine_item.hw.selectable{:id => hwinfo.oid}
        %td.td_line_head
          %div{:style => "padding-top: 3em; padding-left: 0; padding-right: 0;"}
        %td.machine_name&= hwinfo.name
        - hosts = hwinfo.count_hosts
        %td.td_padding
          %img{:src => "/images/1x1.gif"}
        %td.machine_size&= hwinfo.units
        %td.td_padding
          %img{:src => "/images/1x1.gif"}
        %td.machine_hosts&= hosts.to_s
        %td.td_padding
          %img{:src => "/images/1x1.gif"}
        %td.machine_units&= hwinfo.virtualized ? '-' : roundoff(hosts * hwinfo.calcunits.to_f, 1).to_s
        %td.td_padding
          %img{:src => "/images/1x1.gif"}
        %td.td_line_term
          %img{:src => "/images/1x1.gif"}
    %tr.machine_item.hw.selectable{:id => '0000'}
      %td.td_line_head
        %div{:style => "padding-top: 3em; padding-left: 0; padding-right: 0;"}
      %td.machine_name 未指定ホスト
      %td.td_padding
        %img{:src => "/images/1x1.gif"}
      %td.machine_size -
      %td.td_padding
        %img{:src => "/images/1x1.gif"}
      %td.machine_hosts&= Yabitz::Model::HwInformation.count_hosts_without_hwinfo
      %td.td_padding
        %img{:src => "/images/1x1.gif"}
      %td.machine_units -
      %td.td_padding
        %img{:src => "/images/1x1.gif"}
      %td.td_line_term
        %img{:src => "/images/1x1.gif"}
