-# -*- coding: utf-8 -*-

%tr.rack_item.selectable{:id => rack.oid, :title => h(rack.label)}
  - if rack.ongoing
    %td.rack_normal
      %div.header_status
  - else
    %td.rack_notgoing
      %div.header_status
  %td.rack_label
    %a{:href => "/ybz/rack/#{rack.oid}"}&= rack.label
  %td.td_padding_narrow
    %img{:src => "/images/1x1.gif"}
  %td.rack_desc&= rack.datacenter + '/' + rack.type
  %td.td_padding_narrow
    %img{:src => "/images/1x1.gif"}
  %td.rack_units&= @units_in_racks[rack.oid].to_s + 'units'
  %td.td_padding_narrow
    %img{:src => "/images/1x1.gif"}
  - if @rack_blank_scores
    %td.rack_state&= '空き:' + @rack_blank_scores[rack.oid].first.to_s + 'U, ' + '使用中:' + @rack_blank_scores[rack.oid].last.to_s + 'U'
  - else
    %td.td_padding_narrow
      %img{:src => "/images/1x1.gif"}
  %td.td_padding
    %img{:src => "/images/1x1.gif"}
  %td.rack_state&= rack.ongoing? ? '-' : '使用不可'
  %td.td_padding_narrow
    %img{:src => "/images/1x1.gif"}
  %td.rack_state&= (rack.notes.nil? or rack.notes.empty?) ? '-' : 'メモあり' 
  %td.td_padding_narrow
    %img{:src => "/images/1x1.gif"}
  %td.td_line_term
    %img{:src => "/images/1x1.gif"}

