-# coding: utf-8

%div#detailbox
  %form.identity
    %input{:type => "hidden", :name => "oid", :value => @rack.oid}
    %input{:type => "hidden", :name => "type", :value => "rack"}
  %h3
    &= 'ラック: ' + @rack.label
  %div.fieldvalue
    %span.field データセンタ:
    %span.value&= @rack.datacenter
  %div.fieldvalue
    %span.field ラック種別:
    %span.value&= @rack.type
  %div.fieldvalue
    %span.field 状態:
    %span.value
      - if @rack.ongoing?
        使用中
      - else
        使用不可
      - if @isadmin
        %form.inline.toggle_form{:name => "toggleOnGoing", :method => "POST", :action => "/ybz/rack/#{@rack.oid}"}
          %input{:type => "hidden", :name => "field", :value => "ongoing"}
          %input{:type => "hidden", :name => "target_id", :value => @rack.id}
          %input{:type => "hidden", :name => "operation", :value => "toggle"}
          %input.togglebutton{:type => "image", :src => "/images/check.png", :onclick => 'return false;', :height => 20, :width => 20, :alt => "+/-"}
  - if @isadmin
    %form.inline.field_edit_form{:name => "fieldedit", :action => "/ybz/rack/#{@rack.oid}", :method => "POST", :onsubmit => "return false;"}
      %div.fieldvalue.memoitem
        %div.hidden
          %textarea.valueholder&= @rack.notes
        %input{:type => "hidden", :name => "field", :value => "notes"}
        %input{:type => "hidden", :name => "target_id", :value => @rack.id}
        %input{:type => "hidden", :name => "operation", :value => "edit"}
        %div.field
          メモ:
          %div.inline.memoeditbutton{:style => "margin-left: 1em;"}
            %img.button.clickablebutton{:src => "/images/edit.png", :alt => "edit"}
        - if @rack.notes.nil? or @rack.notes.empty?
          %div.dataview{:style => "margin-left: 1em;"}
            なし
        - else
          %div.dataview
            - @rack.notes.split("\n").each do |note|
              %div
                &= note
        %div.dataedit.memoarea
          %textarea{:rows => 15, :cols => 28, :name => "value"}&= @rack.notes
          %input{:type => "submit", :name => "memoupdate", :value => "更新"}
          %input{:type => "reset", :name => "memocancel", :value => "取消"}
  - else
    %div.field メモ:
    %div.value
      - if @rack.notes.nil? or @rack.notes.empty?
        なし
      - else
        - @rack.notes.split("\n").each do |note|
          %div
            &= note
